<% include partials/header %>

<div class="container container-fluid">
	<div style="margin: 0 auto; width: 80%;">
		<h1 style="text-align: center;"><%= poll.name %></h1>
		<p style="text-align: center">
			<em>Created by: <%= poll.author.username %>
				on <%= poll.date_created %>
			</em>
		</p>
		<% if(currentUser && poll.author.id.equals(currentUser._id)) { %>
			<div style="text-align: center;">
				<form style="display: inline;" action="/polls/<%= poll._id %>?_method=DELETE" method="POST">
					<input class="btn btn-danger btn-xs" type="submit" value="Delete">
				</form>
			<a class="btn btn-warning btn-xs" href="/polls/<%= poll._id %>/edit">Edit</a>
			</div>
		<% } %>
		<hr>
		<p>Click the number under the answer choice to cast your vote</p>
		<hr>
		<div>
			<% poll.items.forEach(function(item){ %>
			<% if (item.voteTotal === 0) { %>
				<p><%= item.label %></p>
				<div style="width: <%= (item.voteTotal/total)*100 %>%; border-radius: 5%; margin: 10px; height: 25px; padding-right: 10px;">
					<p style="margin: 5px;">
						<form style="margin: 10px;" action="/polls/<%= poll._id %>/vote/<%= item._id %>?_method=PUT" method="POST">
							<input style="background: inherit; border: none;" type="submit" 
								value="<%= item.voteTotal %>">
						</form>
					</p>
				</div>
			<% } else { %>
				<p><%= item.label %></p>
				<div style="background: rgb(0, 96, 100); width: <%= (item.voteTotal/total)*100 %>%; border-radius: 5%; margin: 5px; color: white; height: 25px;">
					<p style="margin: 5px;">
						<form style="margin: 10px;" action="/polls/<%= poll._id %>/vote/<%= item._id %>?_method=PUT" method="POST">
							<input style="background: inherit; border: none;" type="submit" value="<%= item.voteTotal %>">
						</form>
					</p>
				</div>
			<% } %>
		<% }) %>
		</div>
	</div>
</div>

<% include partials/footer %>